header {
  height: 100vh;
  padding: 6px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  height: 100%;
  padding: 10px 8px;
  background-color: var(--bg-accent);
  border-radius: var(--border-radius);
  overflow-y: auto;
}

header > div {
  padding: 10px;
}

/* main logo */
.logo-container {
  padding: 20px;
  margin-bottom: 20px;
}

.logo a {
  padding: 0px 16px;
}

/* header menu */
header .button {
  margin: 4px 0;
  padding: 16px;
  border-radius: 4px;
}

header .button:hover,
header .button:focus {
  background-color: #47496e;
}
