.App {
  padding-left: 140px;
}

.App > div {
  padding: 10px;
}

/* a */
a {
  text-decoration: none;
  display: inline-block;
  color: var(--deactive);
}

/* img */
img {
  display: block;
  width: 100%;
  height: 100%;
}

/* icons */
i {
  display: inline-block;
}

/* ul */
ul {
  list-style: none;
}

main div {
  width: 100vw;
  height: 100vh;
}

/* centering with flex */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* active */
.active {
  color: var(--active);
}

/* toggle */
.hide {
  display: none !important;
}

.show {
  display: block !important;
}
